<div class="header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#" routerLink="/list" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/favorites" routerLinkActive="active">Favorites</a>
            </li>
          </ul>
        </div>
      </nav>
</div>